<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.ivansiu.copy2dropbox</string>
	<key>connections</key>
	<dict>
		<key>4C57FD4B-0CCA-466F-850B-1D327FD74307</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>15C8F251-DB25-4D56-91B7-B371DE639DB6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8768DB84-F8A1-434F-9DCF-659CBC8558B9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>4FDA26EC-6761-42F4-B096-FBAEDF79FE4C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4C57FD4B-0CCA-466F-850B-1D327FD74307</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4586A06D-E250-46DE-AA6E-B4C3ABF7B182</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Ivan Siu</string>
	<key>description</key>
	<string>Copy current selected file to dropbox folder</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Copy to Dropbox</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>15C8F251-DB25-4D56-91B7-B371DE639DB6</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>hotkey</key>
				<integer>2</integer>
				<key>hotmod</key>
				<integer>1703936</integer>
				<key>hotstring</key>
				<string>D</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>4FDA26EC-6761-42F4-B096-FBAEDF79FE4C</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>cp {query} ~/Dropbox/Public/
BASENAME=`basename {query}`
echo "https://dl.dropbox.com/u/3315210/$BASENAME"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4C57FD4B-0CCA-466F-850B-1D327FD74307</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<true/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>title</key>
				<string>'{query}' copied</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>4586A06D-E250-46DE-AA6E-B4C3ABF7B182</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Link copied</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>8768DB84-F8A1-434F-9DCF-659CBC8558B9</string>
		</dict>
	</array>
	<key>readme</key>
	<string>Copy current selected file to dropbox folder, and copy the public link. Note that it may take some time to finish the upload and validate the link.</string>
	<key>uidata</key>
	<dict>
		<key>15C8F251-DB25-4D56-91B7-B371DE639DB6</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>4586A06D-E250-46DE-AA6E-B4C3ABF7B182</key>
		<dict>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>4C57FD4B-0CCA-466F-850B-1D327FD74307</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>4FDA26EC-6761-42F4-B096-FBAEDF79FE4C</key>
		<dict>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>8768DB84-F8A1-434F-9DCF-659CBC8558B9</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/iveney/alfredworkflow</string>
</dict>
</plist>
